#navbar ul{
    display: inline-flex;

  
}
.navlinktop {
    display:flex;
    opacity:0.75;
    color:black;
    padding:20px;
    text-decoration:none;
    font-size:14px;
}
.navlinktop:hover {
    text-decoration:underline;
}
.signin{
    background:blue;
    color:white !important;
    border-radius: 5px;
    padding:10px;
    margin-top:10px;
    margin-right:10px;
    
}
.navlinkbottom:hover {text-decoration:underline;}
.navlinkbottom {
    text-decoration: none;
    display:flex;
    opacity:0.75;
    color:black;
    padding:20px;
    font-size:14px;
}
#navbar {
    height:100px;
    display:flex;
    justify-content: space-between;
}
#foottop a { padding-bottom:0;}
.search-box{
    width:400px;
    margin-bottom:10px;
}
#footer {
    width:100vw;
    position: absolute;
    bottom:0;
    border-top: 1px solid #e4e4e4;
    background:#f2f2f2;
}
#footer ul{
   display:flex;
   
}
img{
    justify-content: center;
   
}
.section {
    display:block;
text-align:center;
}
.section-1{
    display: flex;
    justify-content: space-around;
}
.section-2 {
    display:flex;
    justify-content: space-between;
    border-top: 1px solid #e4e4e4;
    margin-top:10px;
   
}

body{
    width:100vw;
    height:100vh;
}
main{
    margin-top:20vh !important ;
    margin-bottom:auto;
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
}